In [24]:
import pandas as pd
import numpy as np

In [13]:
data_json = r'[{"Gender": "Male", "HeightCm": 171, "WeightKg": 96 },{ "Gender": "Male", "HeightCm": 161, "WeightKg": 85 },{ "Gender": "Male", "HeightCm": 180, "WeightKg": 77 },{ "Gender": "Female", "HeightCm": 166, "WeightKg": 62},{"Gender": "Female", "HeightCm": 150, "WeightKg": 70},{"Gender": "Female", "HeightCm": 167, "WeightKg": 82}]'

In [14]:
data_json

'[{"Gender": "Male", "HeightCm": 171, "WeightKg": 96 },{ "Gender": "Male", "HeightCm": 161, "WeightKg": 85 },{ "Gender": "Male", "HeightCm": 180, "WeightKg": 77 },{ "Gender": "Female", "HeightCm": 166, "WeightKg": 62},{"Gender": "Female", "HeightCm": 150, "WeightKg": 70},{"Gender": "Female", "HeightCm": 167, "WeightKg": 82}]'

In [15]:
df = pd.read_json(data_json,orient='records')

In [16]:
display(df)

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

In [22]:
df['BMI'] = df['WeightKg'] / (df['HeightCm']/100)**2

In [23]:
display(df)

   Gender  HeightCm  WeightKg        BMI
0    Male       171        96  32.830615
1    Male       161        85  32.791945
2    Male       180        77  23.765432
3  Female       166        62  22.499637
4  Female       150        70  31.111111
5  Female       167        82  29.402273

In [38]:
df['BMI Category'] = pd.cut(df['BMI'], bins=[0.0,18.5,25,30,35,40,np.inf], labels=['Underweight','Normal Weight','Overweight','Moderately obese','Severely obese','Very severely obese'],right=True)

In [39]:
cat_to_risk = {'Underweight':'Malnutrition risk','Normal Weight':'Low risk','Overweight':'Enhanced risk','Moderately obese':'Medium risk','Severely obese':'High risk','Very severely obese':'Very high risk'}

In [40]:
df['Health risk'] = df['BMI Category'].apply(lambda x: cat_to_risk[x])

In [41]:
display(df)

   Gender  HeightCm  WeightKg        BMI      BMI Category    Health risk
0    Male       171        96  32.830615  Moderately obese    Medium risk
1    Male       161        85  32.791945  Moderately obese    Medium risk
2    Male       180        77  23.765432     Normal Weight       Low risk
3  Female       166        62  22.499637     Normal Weight       Low risk
4  Female       150        70  31.111111  Moderately obese    Medium risk
5  Female       167        82  29.402273        Overweight  Enhanced risk

In [42]:
n_over = (df['BMI']>25).sum()

In [43]:
n_over

4